<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DENTISTRY</title>
    <link rel="stylesheet" type="text/css" href="../styles/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
<header>
    <div class="container">
        <h1>Стоматология "Зубная Фея"</h1>
        <nav>
            <ul>
                <li><a href="mainPage.html"> <i class="fas fa-home"></i> Главная страница</a></li>
                <li><a href="mainPage.html#services"> <i class="fas fa-th-list"></i> Услуги</a></li>
                <li><a href="mainPage.html#about"> <i class="fas fa-info-circle"></i> О нас</a></li>
                <li><a href="#"> <i class="fas fa-user"></i> Личный кабинет</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="profile">
        <div class="login-form">
            <h2>Авторизация</h2>
            <form id="login-form">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Введите ваш email" required>

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" placeholder="Введите ваш пароль" required>

                <button type="submit">Войти</button>
            </form>
            <p>Еще не зарегистрированы? <a href="registration.html">Зарегистрируйтесь</a></p>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2023 Стоматология "Зубная Фея"</p>
</footer>

<script src="../service/auth.js" crossorigin="anonymous"></script>
</body>
</html>
